
/*CSS variables*/
:root{
    --primary-color:rgba(16, 146, 201, 0.6);
    --primary-color2:#1092dd;
    --secondary-color: #47ade9;
    --secondary-color2:rgba(16, 146, 201, 0.4);
    --linkedin-color:#0072b1;
    --twitter-color:#38A1F3;
    --github-color:#211F1F;
    

    /*font family variabels*/
    
}
/*rgba(55, 140, 63, 0.6)*/
/* #378C3F */
/*#40a249*/
/*rgba(55, 140, 63, 0.4)*/